@model BuildingProject.Model.ApartmentUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApartmentUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.apartment.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartment.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.apartmentUserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
