<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>if (!window.jQuery) { document.write('<script src="/scripts/libs/jquery-2.1.1.min.js"><\/script>'); }</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>if (!window.jQuery.ui) { document.write('<script src="/scripts/libs/jquery-ui-1.10.3.min.js"><\/script>'); }</script>
@*@if (Request.IsAuthenticated)
    {*@
<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }' src="/scripts/plugin/pace/pace.min.js"></script>
<!-- Demo purpose only! -->
<script src="/scripts/demo.min.js"></script>
@*}*@
<!-- IMPORTANT: SmartAdmin Core -->
@Scripts.Render("~/scripts/smartadmin")
<!-- SmartChat UI : plugin -->
@Scripts.Render("~/scripts/smart-chat")
<!-- DataTables : plugin -->
@Scripts.Render("~/scripts/datatables")
<!-- jQGrid : plugin -->
@Scripts.Render("~/scripts/jq-grid")
<!-- Forms : plugin -->
@Scripts.Render("~/scripts/forms")
<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip, Morris, Sparkline, EasyPie -->
@*@Scripts.Render("~/scripts/charts")*@
<!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
@*@Scripts.Render("~/scripts/vector-map")*@
<!-- Full Calendar -->
@Scripts.Render("~/scripts/full-calendar")
<!-- DO NOT REMOVE : GLOBAL FUNCTIONS! -->
<script type="text/javascript" src="../Scripts/jquery.signalR-2.1.2.min.js"></script>
<script type="text/javascript" src="../signalr/hubs"></script>
<script>
    $(document).ready(function () {
        pageSetUp();
        drawBreadCrumb();
    });
    $(function () {
            var chat = $.connection.chatHub;
            var id = '@Helper.GetCurrentUser().userID.ToString()';
            var username = '@Helper.GetCurrentUser().username';
            var name = '@Helper.GetCurrentUser().name';

            $.connection.hub.start().done(function () {
                chat.server.connect(id,username,name);
            });

            chat.client.updateUsers = function (userCount, userList) {
                $('#userList').empty();

                userList.forEach(function (data){

                    var resultID = "";
                    if (data.UserID != id) {

                        if (data.UserID < id)
                            resultID = data.UserID + "_" + id;
                        else
                            resultID = id + "_" + data.UserID;

                        var dtID = "dt" + resultID;
                        var chatID = "cha" + resultID;
                        var dataUser = '<dt id="' + dtID + '"><a href="#" class="usr" ' +
                                        'data-chat-id="' + chatID + '" ' +
                                        'data-chat-fname="' + data.Name + '" ' +
                                        'data-chat-lname="" ' +
                                        'data-chat-status="online" ' +
                                        'data-chat-alertmsg="" ' +
                                        'data-chat-alertshow="false" ' +
                                        'rel="popover-hover" ' +
                                        'data-placement="right" ' +
                                        'data-html="true"> ' +
                            '<i></i>' + data.Name + ' \n</a> ' +
                                        '</dt> ';

                        $('#userList').append(dataUser);


                        $("#" + dtID).click(function () {
                            chatboxManager.addBox(chatID, {
                                "title": "username" + chatID,
                                "first_name": data.Name,
                                "last_name": "",
                                "status": "online",
                                "alertmsg": "",
                                "alertshow": "false"
                            })
                        });

                    }

                });

                window.ShowMessage = function (chatid,userReceive, message) {
                    chat.server.sendV2(chatid, userReceive.first_name, message);
                }
            }

            chat.client.broadcastMessage = function (chatid, userSend, userReceive, message) {
                if ($("#" + chatid).length == 0) {
                    console.log("No existe");
                    chatboxManager.addBox(chatid, {
                        "title": "username" + chatid,
                        "first_name": userSend,
                        "last_name": "",
                        "status": "online",
                        "alertmsg": "",
                        "alertshow": "false"
                    });
                }

                $("#" + chatid).chatbox("option", "boxManager").addMsg(userSend, message);
            }

        });

</script>
@if (@Model is HelperResult)
{
    @Model
}
